/node_modules/

*lock-.json
.idea
.vscode
monitoring/alertmanager/config/alertmanager.yml
.env
back/back/__pycache__
back/back/migrations/0*.py
back/pong/__pycache__
back/pong/migrations/0*.py
back/pong/migrations/__pychache__
back/clicker/__pycache__
back/clicker/migrations/0*.py
back/clicker/migrations/__pychache__
back/intrauth/__pycache__
back/intrauth/migrations/0*.py
back/intrauth/migrations/__pychache__
*.pyc
